.navbar{
    background-color: black;
    color: aliceblue;
}
.nav{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 2px;
}
.nav-item:hover{
    
    background-color: azure;
    text-emphasis-color: green;

}
.nav-item1{
   float: left;
   margin-right: 8px;
}
.nav-item1:hover{
    background-color: aliceblue;
}
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  /* image style */
  img{
    width: 100%;
  }


  /* for navgation bar  */
  .dropdown-submenu {
  position: relative;
  margin-top: 2px;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  display: none;
  
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-menu:hover{
  background-color: aquamarine;
  color: white;
  font-weight: bolder;
}
.card{
  align-content: center;
  
}
.container{
  padding-top: 45px;
}
